@import 'styles/breakpoints.scss';
@import 'styles/variaveis.scss';

.exercicio {
    display: grid;
    grid-template-columns: .2fr 1fr 1fr 1fr 1fr;
    align-items: center;

    p {
        margin: .5em;
    }

    &__icone {
        cursor: pointer;
        color: #b1eeff82;
        transition: 300ms;

        &:hover {
            color: $azul-fonte;
            box-shadow: .3em .3em .8em rgba(255, 255, 255, 0.12);
        }
    }
}