select {
    font-size: 1em;
    color: #61dafb;
    background-color: #556c91;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: .5em;
    box-sizing: border-box;
    margin-bottom: .2em;
    
    .primeiraOpcao {
        color: #61dafba2;
    }
}
