@import 'styles/variaveis';

select {
    font-size: 1em;
    color: $azul-fonte;
    background-color: $azul-input;
    box-shadow: $sombra-input;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: .5em;
    box-sizing: border-box;
    margin-bottom: .2em;
    
    .primeiraOpcao {
        color: #61dafba2;
    }
}
