.container {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;

    form {
        max-width: 60%;
        padding: 1.5em;
        background-color: #4c6793cc;
        border-radius: 1.5em;
        box-shadow: .5em .5em 1em rgba(255, 255, 255, 0.12);
    }

    h2 {
        text-align: center;
        margin-bottom: .8em;
    }

    @media screen and (max-width: 920px) {
        form {
            padding: 1em;
        }
    }
}