@import 'styles/breakpoints';
@import'styles/variaveis';

.botao {
  background-color: $botao;
  border-radius: .75em;
  font-weight: 700;
  padding: .7em;
  border: none;
  cursor: pointer;
  color: $branco;
  transition: 300ms;
  font-size: 1em;
  font-family: $fonte;

  &:hover {
    color: $botao;
    background-color: $branco;
  }

  @media (max-width:$mobile) {
    .botao {
      font-size: .7em;
    }
  }
}
