@import 'styles/variaveis';

.cronometro {
    display: flex;
    justify-content: center;

    &__icone {
        font-size: 1.2em;
        cursor: pointer;
        margin-left: 10px;
        color: $azul-icone;
        transition: 300ms;

        &:hover {
            color: $azul-fonte;
        }

        &--ativo {
            color: $branco;
        }
    }
}
