@import 'styles/breakpoints';
@import 'styles/variaveis';

.campoTexto {
    margin: .8em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (max-width:$mobile) {
        margin: .5em 0;
    }

    .label {
        font-size: 1.2em;
        margin: auto;
    
        &__numero {
            width: 70%;
        }
    }

    .input {
        background-color: $azul-input;
        color: $azul-fonte;
        box-shadow: $sombra-input;
        border: none;
        border-radius: 10px;
        font-size: 1em;
        padding: .5em;
        box-sizing: border-box;
        
        &__numero {
            width: 20%;            
        }
        
        &__texto {
            width: 100%;            
        }
    }
    
    .input::placeholder {
        background-color: transparent;
        color: $placeholder;
    }
    
}
