@import 'styles/breakpoints';

.campoTexto {
    margin: .8em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (max-width:$mobile) {
        margin: .5em 0;
    }

    .label {
        font-size: 1.2em;
        margin: auto;
    
        &__numero {
            width: 70%;
        }
    }

    .input {
        background-color: #556c91;
        color: #61dafb;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
        border: none;
        border-radius: 10px;
        font-size: 1em;
        padding: .5em;
        box-sizing: border-box;
        
        &__numero {
            width: 20%;            
        }
        
        &__texto {
            width: 100%;            
        }
    }
    
    .input::placeholder {
        background-color: transparent;
        color: #61dafba2;
    }
    
}
