@import 'styles/breakpoints';
@import 'styles/variaveis';

.card {
    width: 90%;
    margin: 1em auto;
    background-color: $azul-principal;
    border-radius: 20px;
    padding: .5em 0 .5em 1em;
    text-align: center;
    box-shadow: $sombra;
    
    h2 {
        display: inline-block;
        margin: .5em 0;
        border-bottom: 2px solid rgb(200, 209, 253);
        cursor: pointer;
    }

    @media (max-width:$mobile) {
        padding: .5em 1em;
    }

    &__header {
        text-align: center;
        display: grid;
        grid-template-columns: .2fr 1fr 1fr 1fr 1fr;
        transition: 700ms;

        h3 {
            margin-bottom: .3em;
        }

        &--fechado {
            display: none;
        }
    }

    &__linhas {
        transition: 700ms;
        &--fechado {
            display: none;
        }
    }
}

@keyframes Show-hide {

}